{% extends "layout.html" %}

{% macro render_priority(priority) %}
    {% if priority == 50 %}
        Highest
    {% elif priority == 40 %}
        High
    {% elif priority == 30 %}
        Medium
    {% elif priority == 20 %}
        Low
    {% elif priority == 10 %}
        Lowest
    {% else %}
        Unknown ({{ priority }})
    {% endif %}
{% endmacro %}

{% macro render_themes(themes_list) %}
    {% if themes_list == [] %}
        <p><em>(None)</em></p>

    {% else %}
		{% for theme in themes_list %}

			<div class="theme">
			<p>{{ render_priority(theme["priority"]) }} (<a href="/themes/{{ theme["id"] }}/priority/up">up</a> / <a href="/themes/{{ theme["id"] }}/priority/down">down</a>) | {{ theme["title"] }}</p>

			<p>{{ encode_description(theme["description"])|safe }}</p>
            <p>{# Submitted {{ theme["created"].date() }} by {{ theme["login"] }} | #}
			Actions: <a href="/themes/{{ theme["id"] }}/edit">edit</a>, mark:
                     <a href="/themes/{{ theme["id"] }}/mark/current">current</a>,
                     <a href="/themes/{{ theme["id"] }}/mark/regular">regular</a>,
                     <a href="/themes/{{ theme["id"] }}/mark/discussed">discussed</a>.
{# | Actions: <a href="#">Edit</a>, <a href="#">Delete</a> #}
            </p>
			</div>

		{% endfor %}
    {% endif %}
{% endmacro %}

{% block title %}Themes{% endblock %}
{% block body %}
	<h2>Current</h2>

    {{ render_themes(current) }}

	<h2>Regular</h2>

    {{ render_themes(regular) }}

	<h2>Discussed</h3>

    <div style="float: left;">
    Export links: <a href="/export/classic">classic</a> or <a href="/export/advanced">advanced</a> (with timestamps).
    </div>

    <div style="float: right;">
    <form action="/themes/discussed/clear" method="post">
	Clear discussed: <input type="checkbox" name="sure" value="sure"> I know what I'm doing <input type="submit" value="Clear!" />
    </form>
    </div>
    <div style="clear: both;"></div>

    {{ render_themes(discussed) }}

{% endblock %}

