{% extends "layout.html" %}

{% macro render_priority(priority) %}
    {% if priority == 50 %}
        Highest
    {% elif priority == 40 %}
        High
    {% elif priority == 30 %}
        Medium
    {% elif priority == 20 %}
        Low
    {% elif priority == 10 %}
        Lowest
    {% else %}
        Unknown ({{ priority }})
    {% endif %}
{% endmacro %}

{% macro render_topics(topics_list, section) %}
    {% if topics_list == [] %}
        <p><em>(None)</em></p>

    {% else %}
		{% for topic in topics_list %}

			<div class="topic">
			<p><strong>{{ render_priority(topic["priority"]) }} (<a href="/topics/{{ topic["id"] }}/priority/up">up</a> / <a href="/topics/{{ topic["id"] }}/priority/down">down</a>) | {{ topic["title"] }}</strong></p>

			<p>{{ encode_description(topic["description"])|safe }}</p>
            <p>{# Submitted {{ topic["created"].date() }} by {{ topic["login"] }} | #}
			Actions: <a href="/topics/{{ topic["id"] }}/edit">edit</a>, mark:
                     {% if section == 'current' %}
                     <em>current</em>,
                     {% else %}
                     <a href="/topics/{{ topic["id"] }}/mark/current">current</a>,
                     {% endif %}
                     {% if section == 'regular' %}
                     <em>regular</em>,
                     {% else %}
                     <a href="/topics/{{ topic["id"] }}/mark/regular">regular</a>,
                     {% endif %}
                     {% if section == 'discussed' %}
                     <em>discussed</em>,
                     {% else %}
                     <a href="/topics/{{ topic["id"] }}/mark/discussed">discussed</a>.
                     {% endif %}
            </p>
			</div>

		{% endfor %}
    {% endif %}
{% endmacro %}

{% block title %}Topics{% endblock %}
{% block body %}
	<h3>&nbsp;</h3>
	<p><strong>Warning!</strong> Don't forget to press <a href="/recording">Recording &rarr; Update!</a> before starting a recording.</p>

	<h2>Current</h2>

    {{ render_topics(current, 'current') }}

	<h2>Regular</h2>

    {{ render_topics(regular, 'regular') }}

	<h2>Discussed</h3>

    <div style="float: left;">
    Export links: <a href="/export/classic">classic</a> or <a href="/export/advanced">advanced</a> (with timestamps).
    </div>

    <div style="float: right;">
    <form action="/topics/discussed/clear" method="post">
	Clear discussed: <input type="checkbox" name="sure" value="sure"> I know what I'm doing <input type="submit" value="Clear!" />
    </form>
    </div>
    <div style="clear: both;"></div>

    {{ render_topics(discussed, 'discussed') }}

{% endblock %}

